// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #495057;
$gray: #6c757d;
$light-gray: #F4F4F4;
$sky-blue: #a9d6e5;
