.hero {
  background-image: url('hero.jpeg');
  height: calc(100vh - 70px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.layer {
  height: calc(100vh - 70px);
  width: 100%;
  position: absolute;
  left: 0;
  top: 70px;
  background-color: rgba(0,0,0,0.5);
}

.container-search-bar {
  height: 150px;
  width: 50%;
  transform: translate(-50%, 80%);
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 50%;

  h1 {
    color: $light-gray;
    text-align: center;
    // margin-bottom: 18px;
    transform: translate(-20px, -10px);
  }

  .search-place {
    height: 50px;
    width: 200px;
    background-color: $light-gray;
    border-radius: 50px;
    padding: 16px;

    &::placeholder {
      font-size: 16px;
      color: $gray;
    }
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-checkin, .search-checkout {
    height: 50px;
    width: 140px;
    background-color: $light-gray;
    border-radius: 50px;
    padding: 10px;
    color: $gray;
  }

  .search-btn {
    font-size: 36px;
    margin-left: 10px;
    color: #fff;
    background: transparent;
    border: none;
  }
}

@media (max-width: 900px){
  form {
    flex-direction: column;
  }
}
