
<h1>Total rental</h1>
<h3>Data de entrada <%= @rental.start_date %></h1>
<h3>Data de saida <%= @rental.end_date %></h1>
<h3><%= @rental.total_rental %></h1>

<%= link_to "Back to rentals List", rentals_path %>
