<div class="hero"></div>
<div class="layer"></div>
<div class="container-search-bar">
  <form action="" method="get">
    <input type="search" name="place" class="search-place" placeholder="place">
    <input type="date" name="checkin" class="search-checkin">
    <input type="date" name="checkout" class="search-checkout">
    <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
  </form>
 </div>
