<div class="hero"></div>
<div class="layer"></div>
<div class="container-search-bar">
  <h1>Royal Stays</h1>
  <form action="/search" method="get">
    <input type="input" name="place" class="search-place" placeholder="place">
    <input type="date" name="checkin" class="search-checkin">
    <input type="date" name="checkout" class="search-checkout">
    <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>
</div>
