.card-product {
  overflow: hidden;
  width: 800px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
