.card {
  .card-title a {
    color: $gray;
    text-decoration: none;

    &:hover {
      font-weight: bold;
      color: $dark-gray;
    }
  }
  img {
    width: 100%;
  }
}

  .new-castle a {
    color: $gray;
    text-decoration: none;

    &:hover {
      font-weight: bold;
      color: $dark-gray;
    }
  }
