.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  text-decoration: none;
  padding-right: 16px;
  cursor: pointer;
  text-transform: uppercase;
}
