<div class="container my-5">
  <h1>Edit Castle</h1>

  <%= render 'form', castle: @castle %>
  <%= link_to castles_path, style:"text-decoration: none" do %>
    <i class="fa-solid fa-reply-all"></i>
  <% end %>
  <%= link_to castle_path(@castle), class:'text-primary', style:"text-decoration: none" do %>
    <i class="fa-solid fa-circle-info"></i>
  <% end %>
</div>
